@{
    ViewBag.Title = "Yetkisiz Erişim";
}
<div style="height:150px;"></div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h1><span class="fa fa-exclamation-circle"></span> Yetkisiz Erişim</h1>
        <p>
            Bu sayfaya erişim yetkiniz bulunmamaktadır.
            <br /><br />
            @Html.ActionLink("Ana Sayfaya Git!", "Index",null,new {@class= "btn btn-primary" })
        </p>

    </div>
</div>
<div style="height:150px;"></div>