
@{
	ViewBag.Title = "İletişim | teknikotosanayi.com";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5DLwPPVAz88_k0yO2nmFe7T9k1urQs84"></script>*@

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d752.5766444158584!2d28.904752688650316!3d41.01854820438939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cabaff57c89323%3A0xb297d63f8c453d83!2zVEVLTsSwSyBPVE8gU0FOQVnEsCBTxLBURVPEsA!5e0!3m2!1sen!2str!4v1541620784632" frameborder="0" width="100%" height="400" style="border:0" allowfullscreen></iframe>
<section class="container space-top-3x padding-bottom-2x">
    <br />
    <h1>İLETİŞİM</h1>
    <div class="row padding-top">
        <div class="col-md-4 padding-bottom-2x">
            <ul class="list-icon">

                <i class="material-icons location_on"></i>
                Maltepe Mahallesi, Yılanlı Ayazma Yolu No:22, 34010 Zeytinburnu/İstanbul
                </br>

                <i class="fa fa-phone"></i>
                </br>



                <i class="fa fa-mobile"></i>

                </br>
                <i class="fa fa-envelope"></i>
                <a href="#">info@teknikotosanayi.com</a>
                </br>



            </ul><!-- .list-icon -->
            <p>Çalışma Saatleri: <span class="text-gray">08:00 - 18:00</span></p>
            <span class="display-inline" style="margin-bottom: 6px;">Sosyal Medya Hesapları: &nbsp;&nbsp;</span>
            <div class="social-bar display-inline">
                <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                    <i class="socicon-facebook"></i>
                </a>
                <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+">
                    <i class="socicon-googleplus"></i>
                </a>
                <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                    <i class="socicon-twitter"></i>
                </a>
                <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                    <i class="socicon-instagram"></i>
                </a>
            </div><!-- .social-bar -->
        </div><!-- .col-sm-5 -->
        <div class="col-md-6 padding-bottom-2x">
            @using (Html.BeginForm())
            {
                <div class="">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-element">
                                <input type="text" class="form-control" name="name" required placeholder="Adınız- Soyadınız">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-element">
                                <input type="email" class="form-control" name="email" required placeholder="E-Posta">
                            </div>
                        </div>
                    </div><!-- .row -->
                    <div class="form-element">
                        <textarea rows="6" class="form-control" name="message" required placeholder="Mesaj"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block waves-effect waves-light space-top-none">Gönder</button>
                </div>
                <div class="status-message"></div>


            }
        </div><!-- .col-sm-7 -->
    </div><!-- .row -->
</section><!-- .container -->
