@using OtoSanayi.WepApp.Models
@using OtoSanayi.Entities
@model List<FirmaKategori>



    @foreach (var item in Model)
    {
<<<<<<< HEAD
        <li><a href="/Firma/FirmaListele/@AdGetir.LinkAd(item.KategoriAdi)/@item.ID"><small>@item.KategoriAdi</small></a></li>
=======
        <li><a href="/Firma/DetayGetir/@AdGetir.LinkAd(item.KategoriAdi)/"><small>@item.KategoriAdi</small></a></li>
>>>>>>> b027c0e87a40d2744369d083eb9d65e9fef10ca7
    }


